<h1>Editing transaction</h1>

<%= render 'form' %>

<br></br>
<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %> | 
<%= link_to 'Destroy', @transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
